LABELS_NAMES:
  - airplane
  - automobile
  - bird
  - cat
  - deer
  - dog
  - frog
  - horse
  - ship
  - truck
RUN_PATH: "/home/ssm-user/tensorleap/data/benchmarking/labeling/runs/cifar10_resnet18/offline_train/2025-06-05_17-33-26"